.register{
width: 34%;
height: 482px;
border: 1px solid rgba(0,0,0,.2);
border-radius: 4px;
margin: auto;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 83%;
    /* margin: auto; */
    /* height: 34px; */
    margin-left: 47px;
  }

  @media only screen and (max-width: 768px){
    .register{
      width: 95%;
      }
  }