
<mat-card style="background-color: #f2fafa91">
    <mat-action-list>
        <div mat-subheader>Menu</div>
    </mat-action-list>
    <mat-list role="list">
<!--        <button class="button-div"  mat-raised-button > <mat-list-item role="listitem"><mat-icon mat-list-icon>home</mat-icon>Home</mat-list-item></button>-->
        <button class="button-div"  mat-raised-button routerLink="profile"> <mat-list-item role="listitem"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</mat-list-item></button>
        <button class="button-div"  mat-raised-button routerLink="view-category"> <mat-list-item role="listitem"><mat-icon mat-list-icon>folder</mat-icon>Categories</mat-list-item></button>
        <button class="button-div"  mat-raised-button routerLink="add-category"> <mat-list-item role="listitem"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Category</mat-list-item></button>
      <button class="button-div"  mat-raised-button routerLink="quiz"> <mat-list-item role="listitem"><mat-icon mat-list-icon>quiz</mat-icon>Quizzes</mat-list-item></button>
      <button class="button-div"  mat-raised-button routerLink=""> <mat-list-item role="listitem"><mat-icon mat-list-icon>logout</mat-icon>Log Out</mat-list-item></button>


    </mat-list>
</mat-card>
