table {
  width: 500px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-bottom: 50px;
}

th,
td {
  padding: 15px;
  background-color: rgba(106 179 192 / 20%);
  /*color: #fff;*/
}

th {
  text-align: left;
}

thead
th {
  background-color: #55608f;

}

td {
  position: relative;}

td :hover {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}
td :before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}
